<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="stone"
            base-type="org.eclipse.core.runtime.text"
            name="stone_editor.stone"
            id="stone_editor.stone">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="stone_editor.stone"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="stone_editor.StoneReconciler"
            contentType="stone_editor.stone">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="stone_editor.StoneHoverProvider"
            contentType="stone_editor.stone">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="stone_editor.StoneContentAssistProcessor"
            contentType="stone_editor.stone">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="stone_editor.stone"
            extensions="stone"
            class="stone_editor.ValidatorDocumentSetupParticipant">
      </participant>
   </extension>

</plugin>
